* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4a90e2;
  --secondary-color: #24262F;
  --font-color: #4E525A;
  --background-color: #f5f5f5;
}

ul, li, summary {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;

  padding: 0 40px;

  height: 100%;
  min-height: 100vh;

  border: 1px solid red;

  .emphasis {
    color: var(--primary-color);
    margin-left: 0.15rem;
  }

  h2 {
    color: var(--secondary-color);
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 3rem;;
    margin-bottom: 2rem;
  }

  button {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem;
    transition: background-color 0.3s ease;
    
    &.primary { 
      background-color: var(--primary-color);
      color: #fff;
    }
    &.outline {
      background-color: transparent;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }

    &:hover {
      background-color: darken(var(--primary-color), 60%);
      border-color:#24262F
    }
  }

  header { 
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;

    border: 1px solid blue;

    div {
      color: var(--secondary-color);
      font-weight: bolder;

      >span {
        font-size: 22px;
      }
    }

    nav {
      border: 1px solid green;
      font-size: 18px;
      flex: 1;

      ul {
        display: flex;
        gap: 20px;
        justify-content: center;

        li {
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;

          &:hover, &:active {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  main {

    #hero, #about, #skills {
      padding: 3rem 0;
    }
    
    #hero {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items:flex-start;
      justify-items: flex-end;

      border: 1px solid purple;

      article {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        
        border: 1px solid orange;

        >p {
          font-size: 1.5rem;
          line-height: 1.8rem;
        }

        .title {
          color: var(--secondary-color);
          font-size: 5.5rem;
          font-weight: bolder;
          line-height: 3.5rem;
        }
      }

      .frame  {
        align-items: center;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        width: 340px;
        height: 340px;

        img {
          width: 80%;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 50%;
  
        }
      }
      
    }

    #about {
      article {
        line-height: 1.5rem;

        p {
          margin-bottom: 1rem;
        }
      }
    }

    #experience {
      article { 
        --sumary-heigth: 27px;
        position: relative;

        details {
          --position: 0;
          display: flex;
          padding: 0 10px;
          border-left: 2px solid var(--secondary-color);
          &[open] {
            border-color: var(--primary-color);
          }

          
          summary {
            border: 1px solid greenyellow;
            width: 130px;
            height: var(--sumary-heigth);
          }

          div {
            color: red;
            border: 1px solid green;
            margin-left: 20px;
            margin-top: calc(var(--sumary-heigth) * -1 * var(--position));
            position: absolute;
          }
        }

        [open]::details-content {
          flex: 1;
        }
      }
    }


    #skills {
      article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}